// =================================================================
// nextflow.config is the main configuration script for a nextflow pipeline
// Should contain the following sections:
    // A manifest for defining workflow metadata
    // Mandated minimal version of Nextflow required to run pipeline
    // Default workflow parameter definitions
    // Shell behaviour settings for the workflow
    // Execution reports
    // Configuration profiles
    // Default resource definitions for processes

// Examples are included for each section. Remove them and replace
// with project-specific code. For more information see:
// https://www.nextflow.io/docs/latest/index.html.
//
// ===================================================================

// Define some metadata for publishing pipeline on GitHub
// See https://www.nextflow.io/docs/latest/config.html#scope-manifest
// TODO update this for ONT pipeline once named
manifest {
    author = 'Georgie Samaha'
    name = 'template-nf'
    description = 'Template for creating Nextflow workflows'
    homePage = 'https://github.com/Sydney-Informatics-Hub/template-nf'
}

// Mandate a minimum version of nextflow required to run the pipeline
// See https://www.nextflow.io/docs/latest/config.html#nextflow-version
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#scope-params 
params {
    help               = false
    outdir             = 'results'
    input_directory    = ''
    samplesheet        = ''
    kraken2_db         = ''
    bakta_db           = ''
    assemblers         = 'unicycler,flye'
    plassembler_db     = ''
    amrfinderplus_db   = ''
    subsamples         = 4  // Set to 1 to skip subsampling
    bandage_templates  = "${projectDir}/assets/bandage_templates"
    sequencing_summary = ''
    max_contigs        = null
}

// Fail a task if any command returns non-zero exit code
// See https://www.nextflow.io/docs/latest/process.html#script 
shell = ['/bin/bash', '-euo', 'pipefail']

// Include base module configurations
includeConfig "config/modules.config"

// Enable profiles for different compute infrastructures or set up
// See https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
    singularity {
        singularity.enabled = true
    }
    high_accuracy {
        includeConfig "config/high_accuracy.config"
    }
    gadi {
        includeConfig "config/gadi.config"
        includeConfig "config/gadi.copyq.config"
    }
    test {
        includeConfig "config/test.config"
    }
}

// Produce a workflow diagram
// See https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/run_info/dag.svg"
}

// Output resource and runtime reports for a workflow run
// See https://www.nextflow.io/docs/latest/tracing.html
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/run_info/report.html"
}

// Output an html timeline report 
// See https://www.nextflow.io/docs/latest/tracing.html#timeline-report 
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/run_info/timeline.html"
}

// Output process execution trace file 
// See https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/run_info/trace.txt"
}
