// =================================================================
// nextflow.config is the main configuration script for a nextflow pipeline
// Should contain the following sections:
	// A manifest for defining workflow metadata
	// Mandated minimal version of Nextflow required to run pipeline
	// Default workflow parameter definitions
	// Shell behaviour settings for the workflow
	// Execution reports
	// Configuration profiles
	// Default resource definitions for processes

// Examples are included for each section. Remove them and replace
// with project-specific code. For more information see:
// https://www.nextflow.io/docs/latest/index.html.
//
// ===================================================================

// Define some metadata for publishing pipeline on GitHub
// See https://www.nextflow.io/docs/latest/config.html#scope-manifest
manifest {
	author = 'Georgie Samaha'
	name = 'template-nf'
	description = 'Template for creating Nextflow workflows'
	homePage = 'https://github.com/Sydney-Informatics-Hub/template-nf'
}

// Mandate a minimum version of nextflow required to run the pipeline
// See https://www.nextflow.io/docs/latest/config.html#nextflow-version
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#scope-params 
params {
	help	= false
	outDir	= 'results'
	input	= false
	gadi_account	= 'er01'
	whoami = 'gs5517'
  singularityCacheDir = ''
  kraken2_db = ''
	bakta_db = ''
	plassembler_db = ''
	amrfinderplus_db = ''
}

// Fail a task if any command returns non-zero exit code
// See https://www.nextflow.io/docs/latest/process.html#script 
shell = ['/bin/bash', '-euo', 'pipefail']

// Enable profiles for different compute infrastructures or set up
// See https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
	standard	{ includeConfig "config/standard.config"}
	gadi			{ includeConfig "config/gadi.config"		}     
	setonix		{ includeConfig "config/setonix.config"	}
	nimbus		{ includeConfig "config/nimbus.config"	}
}

// Enable wave containers 
// See: https://www.nextflow.io/docs/latest/wave.html#build-conda-based-containers
//wave {
// enabled = true
//	strategy = 'conda,container'
//}

// Autodetect relevant Singularity env variables 
singularity {
	enabled = true
	autoMounts = true
	autoCleanUp = true
}

// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 
process {
	// Set default resources for all processes
	project = 'er01'
	cpus = 1
	memory = 4.Gb
	cache = 'lenient'	
	module = 'singularity'

	// Set process specific resources
	// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process
	withName: 'check_input' {
		executor = 'local'
	}

	withName: 'porechop' {
		executor = 'pbspro'
		queue = 'normal'
		cpus = 16
		time = '10h'
		memory = 10.Gb
	}

	withName: 'get_ncbi' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}
  
	withName: 'get_bakta' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}
	
	withName: 'get_kraken2' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}
	
	withName: 'get_amrfinderplus' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}
	
	withName: 'get_plassembler' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}

	withName: 'kraken2' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 24
		time = '10h'
		memory = 190.Gb
	}
	
	withName: 'flye_assembly' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 4
		time = '10h'
		memory = 10.Gb
	}

	withName: 'unicycler_assembly' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 8
		time = '10h'
		memory = 12.Gb
	}}

// Produce a workflow diagram
// See https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
	enabled = true
	overwrite = true
	file = "${params.outDir}/runInfo/dag.svg"
}

// Output resource and runtime reports for a workflow run
// See https://www.nextflow.io/docs/latest/tracing.html
report {
	enabled = true
	overwrite = true
	file = "${params.outDir}/runInfo/report.html"
}

// Output an html timeline report 
// See https://www.nextflow.io/docs/latest/tracing.html#timeline-report 
timeline {
	enabled = true
	overwrite = true
	file = "${params.outDir}/runInfo/timeline.html"
}

// Output process execution trace file 
// See https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
	enabled = true
	overwrite = true
	file = "${params.outDir}/runInfo/trace.txt"
}