// =================================================================
// nextflow.config is the main configuration script for a nextflow pipeline
// Should contain the following sections:
	// A manifest for defining workflow metadata
	// Mandated minimal version of Nextflow required to run pipeline
	// Default workflow parameter definitions
	// Shell behaviour settings for the workflow
	// Execution reports
	// Configuration profiles
	// Default resource definitions for processes

// Examples are included for each section. Remove them and replace
// with project-specific code. For more information see:
// https://www.nextflow.io/docs/latest/index.html.
//
// ===================================================================

// Define some metadata for publishing pipeline on GitHub
// See https://www.nextflow.io/docs/latest/config.html#scope-manifest
// TODO update this for ONT pipeline once named
manifest {
	author = 'Georgie Samaha'
	name = 'template-nf'
	description = 'Template for creating Nextflow workflows'
	homePage = 'https://github.com/Sydney-Informatics-Hub/template-nf'
}

// Mandate a minimum version of nextflow required to run the pipeline
// See https://www.nextflow.io/docs/latest/config.html#nextflow-version
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#scope-params 
params {
	help	= false
	outdir	= 'results'
	input_directory	= false
	samplesheet	= false
	gadi_account	= ''
	gadi_storage = ''
	whoami = ''
  singularityCacheDir = ''
  kraken2_db = ''
	bakta_db = ''
	plassembler_db = ''
	amrfinderplus_db = ''
	trycycler_min_contig_length = '5000' // TODO confirm suitability of this default
  multiqc_config = "${baseDir}/assets/multiqc_config.yml"
  sequencing_summary = '' 
  pycoqc_header_file = "${baseDir}/assets/pycoqc_report_header.txt"
}

// Fail a task if any command returns non-zero exit code
// See https://www.nextflow.io/docs/latest/process.html#script 
shell = ['/bin/bash', '-euo', 'pipefail']

// Enable profiles for different compute infrastructures or set up
// See https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
	high_accuracy	{ includeConfig "config/high_accuracy.config"}
	gadi { includeConfig "config/gadi.config"}     
}

// Autodetect relevant Singularity env variables 
singularity {
	enabled = true
	autoMounts = true
	autoCleanUp = true
}

// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 
process {
	// Set default resources for all processes
	cpus = 1
	memory = 4.Gb
	cache = 'lenient'	
	module = 'singularity'

	// Set process specific resources
	// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process
	withName: 'check_input' {
		executor = 'local'
	}
	withName: 'check_samplesheet' {
		executor = 'local'
	}
	withName: 'porechop' {
		executor = 'pbspro'
		queue = 'normal'
		cpus = 16
		time = '10h'
		memory = 10.Gb
	}

	withName: 'pycoqc_summary' {
  	executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '10h'
    memory = 20.Gb
  }

	withName: 'nanoplot_summary' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '10h'
    memory = 20.Gb
	}

	withName: 'get_ncbi' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}
  
	withName: 'get_bakta' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}
	
	withName: 'get_kraken2' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}
	
	withName: 'get_amrfinderplus' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}
	
	withName: 'get_plassembler' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
	}

	withName: 'get_busco' {
		executor = 'pbspro'
		queue = 'copyq'
		cpus = 1
		time = '10h'
		memory = 2.Gb
}
	
	withName: 'kraken2' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 24
		time = '10h'
		memory = 190.Gb
	}
	
	withName: 'flye_assembly' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 4
		time = '10h'
		memory = 190.Gb
	}

	withName: 'unicycler_assembly' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 24
		time = '10h'
		memory = 190.Gb
	}
	
	withName: 'trycycler_cluster' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 4
		time = '10h'
		memory = 20.Gb
	}

 	withName: 'trycycler_reconcile' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '10h'
    memory = 3.Gb
  }

 	withName: 'trycycler_msa' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
		time = '10h'
    memory = 3.Gb
  }

	withName: 'trycycler_partition' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '10h'
    memory = 10.Gb
  }
	
	withName: 'trycycler_consensus' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 8
		time = '10h'
		memory = 10.Gb
	}	
	
	withName: 'medaka_polish_consensus' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 2 // medaka itself says more than 2 cpus is a waste
		time = '10h'
		memory = 20.Gb
	}

	withName: 'medaka_polish_flye' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 2 // medaka itself says more than 2 cpus is a waste
		time = '10h'
		memory = 40.Gb
	}

	withName: 'plassembler' {	
		executor = 'pbspro'
		queue = 'normal'
		cpus = 16 
		time = '10h'
		memory = 20.Gb
	}

	withName: 'bakta_annotation_plasmids' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '10h'
    memory = 10.Gb
  }

	withName: 'bakta_annotation_chromosomes' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '10h'
    memory = 10.Gb
  }

	withName: 'bakta_annotation_flye_chromosomes' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '10h'
    memory = 10.Gb
  }
	
	withName: 'quast_qc_chromosomes' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '1h'
    memory = 5.Gb
  }

	withName: 'quast_qc_flye_chromosomes' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '1h'
    memory = 5.Gb
  }

	withName: 'abricateVFDB_annotation_chromosomes' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '1h'
    memory = 2.Gb
  }

	withName: 'abricateVFDB_annotation_flye_chromosomes' {
    executor = 'pbspro'
    queue = 'normal'
   	cpus = 1
    time = '1h'
    memory = 2.Gb
  }

	withName: 'abricateVFDB_annotation_reference' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '1h'
    memory = 2.Gb
  }

	withName: 'amrfinderplus_annotation_chromosomes' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '1h'
    memory = 2.Gb
  }

	withName: 'amrfinderplus_annotation_flye_chromosomes' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 1
    time = '1h'
    memory = 2.Gb
  }

	withName: 'amrfinderplus_annotation_reference' {
    executor = 'pbspro'
   	queue = 'normal'
  	cpus = 1
    time = '1h'
    memory = 2.Gb
  }	

	withName: 'multiqc_report' {
  	executor = 'pbspro'
  	queue = 'normal'
  	cpus = 1
  	time = '1h'
  	memory = 2.Gb
  }

	withName: 'run_orthofinder' {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 16
    time = '10h'
    memory = 10.Gb
	}
}

// Produce a workflow diagram
// See https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
	enabled = true
	overwrite = true
	file = "${params.outdir}/run_info/dag.svg"
}

// Output resource and runtime reports for a workflow run
// See https://www.nextflow.io/docs/latest/tracing.html
report {
	enabled = true
	overwrite = true
	file = "${params.outdir}/run_info/report.html"
}

// Output an html timeline report 
// See https://www.nextflow.io/docs/latest/tracing.html#timeline-report 
timeline {
	enabled = true
	overwrite = true
	file = "${params.outdir}/run_info/timeline.html"
}

// Output process execution trace file 
// See https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
	enabled = true
	overwrite = true
	file = "${params.outdir}/run_info/trace.txt"
}
