// Set gadi parameters
// NCI has special install of Nextflow. See: https://opus.nci.org.au/display/DAE/Nextflow
// See https://www.nextflow.io/docs/latest/config.html#scope-params 
params {
	gadi_account = System.getenv("PROJECT")
	storage_account = ''
	whoami = ''
	singularityCacheDir = ''
}

// Autodetect relevant Singularity env variables 
singularity {
	enabled = true
	autoMounts = true
	autoCleanUp = true
	cacheDir = params.singularityCacheDir ? params.singularityCacheDir
        : "/scratch/${params.gadi_account}/${params.whoami}/.nextflow/singularity"

// Autodetect Singularity libraryDir. See: https://nextflow.io/docs/edge/container.html#singularity-docker-hub 
	libraryDir = params.singularityCacheDir ? params.singularityCacheDir
        : "/scratch/${params.gadi_account}/${params.whoami}/.nextflow/singularity"		
	temp = "/scratch/${params.gadi_account}/${params.whoami}/.nextflow/singularity/temp"	
}

// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 
process {
	module = 'singularity'
	cache = 'lenient'
	executor = 'pbspro'
	project = "${params.gadi_account}"
	// Enable provision of multiple storage paths for -lstorage directive
	storage = ''
  storage = 'scratch/${params.gadi_account}+gdata/${params.gadi_account}'
  ext.storageAccountString = { 
		accountString -> accountString.tokenize(',')
		.collect { acct ->"scratch/${acct}+gdata/${acct}"
    }.join('+')
  }

  if (params.storage_account) {
    storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}+${ext.storageAccountString(params.storage_account)}"
  } 
	else {
    storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}"
  } 

// Set process-specific resource configuration
// See: https://nextflow.io/docs/edge/config.html#process-selectors
  withName: 'processOne' {
    cpus = 1
    time = '1h'
    memory = '1GB'
  }
  withName: 'processTwo' {
    cpus = 1
    time = '1h'
    memory = '1GB'
  }}

// Write custom trace file with outputs required for SU calculation
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
trace {
    enabled = true
    overwrite = false
    file = "${params.outdir}/runInfo/gadi-nf-core-trace-${trace_timestamp}.txt"
    fields = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,rss'
}